[submodule "frontend"]
	path = frontend
	url = https://github.com/atriva-ai/retail-analytics-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/atriva-ai/atriva-ai-platform-backend.git
[submodule "services/ai-inference"]
	path = services/ai-inference
	url = https://github.com/atriva-ai/ai-inference-ov.git
[submodule "services/video-pipeline"]
	path = services/video-pipeline
	url = https://github.com/atriva-ai/video-pipeline-ffmpeg-x86.git
